.DataGrid {
    text-align: left !important;
}

.react-grid-Main .form-control {
    height: calc(1.0em + 0.7rem + 2px) !important;
    font-size: 0.9rem !important;
    font-weight: 600;
}

.react-grid-HeaderCell-sortable span {
    float: right !important;
}

.rdg-cell-action-button {
    padding-top: 5px;
}